<!-- Validation failure messages -->
<% if @message.errors.any? %>
  <% @message.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Message #<%= @message.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_message/<%= @message.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @message.user_id %>">
      </div>

      <!-- Label and input for posting_id -->
      <div class="form-group">
        <label for="posting_id" class="control-label">
          Posting
        </label>

        <input type="text" id="posting_id" name="posting_id" placeholder="Posting" class="form-control" value="<%= @message.posting_id %>">
      </div>

      <!-- Label and input for conversation_id -->
      <div class="form-group">
        <label for="conversation_id" class="control-label">
          Conversation
        </label>

        <input type="text" id="conversation_id" name="conversation_id" placeholder="Conversation" class="form-control" value="<%= @message.conversation_id %>">
      </div>

      <!-- Label and input for body -->
      <div class="form-group">
        <label for="body" class="control-label">
          Body
        </label>

        <input type="text" id="body" name="body" placeholder="Body" class="form-control" value="<%= @message.body %>">
      </div>

      <button class="btn btn-warning">
        Update Message
      </button>
      or
      <a href="/messages/<%= @message.id %>">Cancel</a>
    </form>
  </div>
</div>
