<div class="page-header">
  <h1>
    Conversations
  </h1>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Conversation with</th>
        <th>Messages</th>
        <th>Actions</th>
      </tr>


      <% @conversations.each do |convo| %>
      <tr>
        <td>


          <% if

            convo.sender_id == current_user.id %>

            <a href="/conversations/<%= convo.id %>"><%= convo.receiver.username %></a>


            <% else %>

            <a href="/conversations/<%= convo.id %>"><%= convo.sender.username %> </a>

            <% end %>


          </td>
          <td>
            <%= convo.messages.last.body.truncate(30)%>

          </td>
          <td>

            <a href="/conversations/<%= convo.id %>" class="btn btn-primary">Show</a>
            <a href="/delete_conversation/<%= convo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          </td>
        </tr>


        <% end %>
      </table>
    </div>
  </div>
